.navbar {
    border : solid 1px black;
    margin-right: 2%;
}

.banner{
    border : solid 1px black;
    margin-top: 1%;
    margin-right: 2%;
    padding-bottom: 20%;
    background-image: url(Modern-Wallpaper-51.jpg);
}

body, p{
    color:purple;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Open Sans', sans-serif;
}
img{
    width:100%;
}